assume_role = "administrator"
region = "{{provider_region}}"
emr_al2_ami_id = ""
hive_custom_auth_jar_path = ""
manage_mysql_user_lambda_zip = {
    base_path = ""
    version = ""
}

aws_analytical_env_emr_launcher_zip = {
    base_path = ""
    version = ""
}
